/**
 * CSS for the Webform Multiple module.
 */
.wfm-container {
  border: 1px dotted #ccc;
  border-radius: 5px;
  margin: 1em 0;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
